*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
}

main{
    display: flex;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
    width: 1500px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 3vh;
    gap:500px;
}

header img{
    width: 7rem;
    height: 7rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

li{
    list-style: none;
}

figure img{
    width: 500px;
    height: 400px;
}

.containerLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 80vh;
    gap: 20px;
}

.containerRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 80vh;

}
.description{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: justify;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 100px;
}

h1{
    font-size: 30px;
    text-align: justify;
    width: 400px;
    margin-left: 100px;
}