<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="shortcut icon" type="image/x-icon" href="./static/images/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/background.png') }}" alt="fundo" class="background-image">
    <header>
        <img src="{{ url_for('static', filename='images/NextTask.png') }}" alt="">
        <nav>
            <ul>
                <li>SOBRE NÓS</li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="containerLeft">
            <h1>Organize seu Dia. Aumente sua Produtividade. Simplifique sua Vida.</h1>
            <section class="description">
                <p>Com o Next Task, você tem controle total das suas tarefas diárias de forma simples, intuitiva e eficiente. Chega de esquecer prazos ou se perder em anotações soltas — aqui suas prioridades ganham foco e resultado.</p>
            </section>
            <button><a href="{{ url_for('index.home') }}"> teste </a></button>
        </section>

        <section class="containerRight">
            <figure>
                <img src="{{ url_for('static', filename='images/imagem-home.png') }}" alt="">
            </figure>
        </section>
    </main>
</body>
</html>