<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
    <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/background-update.png') }}" alt="fundo" class="background-image">
        <main class="container">
            <img src="{{ url_for('static', filename='images/NextTask.png') }}" alt="Logo" class="logo">
            <form action="/salvar" method="POST" class="column">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="origem" value="{{ origem }}">

                <label>Tarefa: <input type="text" name="tarefa" value="{{ tarefa.tarefa }}"></label><br>
                <section class="row">
                    <label>Data: <input type="date" name="data" value="{{ tarefa.data }}"></label><br>
                    <label>Prioridade:
                        <select name="nivel">
                            <option value="urgente" {% if tarefa.nivel == 'URGENTE' %}selected{% endif %}>Urgente</option>
                            <option value="moderado" {% if tarefa.nivel == 'MODERADO' %}selected{% endif %}>Moderado</option>
                            <option value="baixo" {% if tarefa.nivel == 'BAIXO' %}selected{% endif %}>Baixo</option>
                        </select>
                    </label>
                </section>
                <input type="submit" value="Salvar" class="btn-salvar">
            </form>
        </main>
</body>
</html>
