    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home </title>
        <link rel="shortcut icon" type="image/x-icon" href="./static/images/favicon.ico">
        <!--<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">-->
    </head>
        <header>
            <img src="{{url_for('static', filename='images/NextTask.png')}}" alt="" class="logo">
            <h1>Bem vindo ao Next Task </h1>
        </header>
        <main>
            <section class="container_left">
                <section class="teste">
                    <img src="{{url_for('static', filename='IMAGEM.avif')}}" alt="">
                </section>
            </section> 
                <table border="2px solid blue">
                    <tr>
                        <td text-align="center"> Tarefa </td>
                        <td text-align="center"> Data </td>
                        <td text-align="center"> Prioridade </td>
                        <td text-align="center"> Status</td>
                    </tr>
                    {% for item in tarefas %}
                        <tr>
                            <td> {{item.tarefa}} </td>
                            <td> {{item.data}} </td>
                            <td> {{item.nivel}} </td>
                            <td> 
                                <select name="status" id="status_tarefa">
                                    <option value="pendente"> Pendente</option>
                                    <option value="concluido"> Concluído</option>
                                    <option value="em_andamento"> Em andamento</option>
                                </select>
                            </td>
                            <td>
                                <form action="/delete" method="POST"> <input type="hidden" name="id" value="{{ loop.index0 }}"> <input type="submit" name="enviar" value="DELETAR" id="btn_deletar"> </form>
                            </td>
                            <td>
                                <form action="/update" method="POST"> <input type="hidden" name="id" value="{{ loop.index0 }}"> <input type="submit" name="enviar" value="UPDATE" id="btn_update"> </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
        </main>
    </html> 